# See https:/golden_record_consolidation//golden_record_consolidation/help.github.com/golden_record_consolidation/articles/golden_record_consolidation/ignoring-files/golden_record_consolidation/ for more about ignoring files.

# dependencies
../golden_record_consolidation/node_modules
../golden_record_consolidation/.pnp
.pnp.js

# testing
/golden_record_consolidation/coverage

# production
/golden_record_consolidation/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules

